<!DOCTYPE html>
<html lang="en">
<head>
    <link href="js/sparrow.css" rel="stylesheet" charset="utf-8">
    <link href="vender/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" charset="utf-8">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active{display: inline-block !important }
        p {
            border: 1px solid #e6e6e6;
            margin-bottom: 15px;
            margin-top: 30px;
            padding-left: 20px;
            background: #f7f7f7;
            color: #088fc8;
            line-height: 36px;
        }
        .pt20 {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="demo_form">
        <div class="col-md-6">
            <label>用户名：(测试功能, 带 a 字母的用户名都被使用)</label>
            <input type="text" name="name" class="form-control" data-require="1" data-len="5-20" data-len-msg="字符串长度为5-20" data-format="[a-zA-Z0-9]+" data-format-msg="只能由英文字母和数字组成" data-server-check="/form/check">
            <div class="sparrow_input_tip_info" id="name_tip">由英文字母和数字组成的5-20个字符</div>

            <label>文本框</label>
            <textarea type="text" name="text_name" class="form-control" data-require="1" data-len="5-20" data-len-msg="字符串长度为5-20" data-format-msg="只能由英文字母和数字组成"></textarea>
            <div><span class="sparrow_input_tip_info" id="text_name_tip">由英文字母和数字组成的5-20个字符</span> <span id="text_name_input_num">0</span>/20</div>


            <label>Email：</label>
            <input type="email" name="email" class="form-control" data-require="1" value="2324@qq.com">
            <div class="sparrow_input_tip_info" id="email_tip">非常重要，当您密码遗失时找回密码需要用您填写的邮箱地址</div>

            <label>密码：</label>
            <input type="password" name="password" class="form-control" data-require="1" data-len="5" data-format="func::password_check" data-format-msg="必须有大写,小写和数字" data-len-msg="长度必须大于5位">
            <div class="sparrow_input_tip_info" id="password_tip">必须包括大写字母，小写字母和数组的5位以上字符</div>

            <label>确认密码：</label>
            <!--same:passowrd 表示内容必须和password字段内容一样-->
            <input type="password" name="repassword" class="form-control" data-require="1" data-format="same::password" data-format-msg="两次输入的密码不一样">
            <div class="sparrow_input_tip_info" id="repassword_tip">请再次输入密码</div>

            <label>QQ：</label>
            <input type="text" name="qq" class="form-control" data-require="weixin" data-type="qq" data-require-msg="QQ号和微信至少要填写一个">
            <div class="sparrow_input_tip_info" id="qq_tip">QQ号和微信号任填一个就可以了</div>

            <label>微信：</label>
            <input type="text" name="weixin" data-require="weixin" class="form-control">
            <div></div>

            <label>电话号码：</label>
            <input type="text" name="tel" data-type="mobile" data-group="tel,yy,mobile" class="form-control">
            <div id="tel_tip"></div>
            <label>YY语音：</label>
            <input type="text" name="yy" data-type="mobile" data-group="tel,yy,mobile" class="form-control">
            <div id="yy_tip"></div>
            <label>手机号：</label>
            <input type="text" name="mobile" data-type="mobile" class="form-control" data-group="tel,yy,mobile">
            <div id="mobile_tip"></div>
            <div id="tel_yy_mobile_tip" data-require-count="2" class="sparrow_input_tip_info">手机号、电话号码、YY语言任填2个</div>

            <label>价格：</label>
            <input type="text" data-type="price" name="price" data-precision="2" data-min="0" data-max="200" class="form-control" data-format-msg="价格输入出错">
            <div id="price_tip" class="sparrow_input_tip_info">价格不能超过200元</div>

            <label>日期：</label>
            <input type="text" data-type="date" name="date" class="form-control">
            <div id="date_tip" class="sparrow_input_tip_info">请填写正确格式的日期</div>

            <label>时间：</label>
            <input type="text" data-type="datetime" name="datetime" class="form-control" data-format-msg="输入日期出错">
            <div id="datetime_tip" class="sparrow_input_tip_info">请填写正确的时间</div>
        </div>
        <div class="col-md-6">
            <label>身高：</label>
            <input type="text" name="height" class="form-control" data-require="1" data-type="range" data-min="50" data-max="260" data-format-msg="身高必须是数字并且介于50-240之间">
            <div id="height_tip"></div>

            <label>体重：</label>
            <input type="text" name="weight" class="form-control" data-type="float">
            <div id="weight_tip"></div>

            <label>爱好：</label>
            <div>
                <label><input type="checkbox" value="1" name="hobby" data-require="1" data-select-default="3,4" data-max-check="4" data-max-check-msg="你最多可以选择4个" data-min-check="2" data-min-check-msg="您至少选择2个">乒乓球</label>
                <label><input type="checkbox" value="2" name="hobby" >羽毛球</label>
                <label><input type="checkbox" value="3" name="hobby" >PaPaPa</label>
                <label><input type="checkbox" value="4" name="hobby" >Luguan</label>
                <label><input type="checkbox" value="5" name="hobby" >岛国动作片</label>
                <label><input type="checkbox" value="6" name="hobby" >Dota</label>
            </div>
            <div class="sparrow_input_tip_info" id="hobby_tip">至少选择2项</div>

            <label>性别：</label>
            <div>
                <label><input type="radio" value="1" name="gendar">宅男</label>
                <label><input type="radio" value="2" name="gendar">腐女</label>
                <label><input type="radio" value="3" name="gendar">人妖</label>
            </div>


            <label>学历：</label>
            <div>
                <select name="education" class="form-control" data-require="1" data-select-default="2"
                        data-require-msg="请选择你的学历">
                    <option value="0">请选择学历</option>
                    <option value="1">初中</option>
                    <option value="2">高中</option>
                    <option value="3">专科</option>
                    <option value="4">本科</option>
                    <option value="5">研究生</option>
                    <option value="6">博士</option>
                </select>
                <div id="education_tip"></div>
            </div>

            <label>网址：</label>
            <input type="text" data-type="url" name="url" class="form-control" data-len="0-20" data-len-msg="网址长度不能超过20">
            <div id="url_tip"></div>

            <div class="mb10">
                <span class="re_left"><span class="icon_index icon_index_24"></span>稿件内容:</span>
                <span class="lh30" id="content_change_box">
            <label data-sparrow-tab-item="out"><input type="radio" name="content_type"  data-require="1" value="1">外部链接</label>
            <label data-sparrow-tab-item="up" ><input type="radio" name="content_type" data-select-default="2" data-require="1" value="2">上传文档</label>
        </span>
                <span class="sparrow_input_tip_2 hide" id="content_tip"></span>
            </div>

            <div class="mb10 hide active" data-sparrow-tab-body="out">
                <div class="mb10">
                    <span class="re_left"><span class="icon_index icon_index_24"></span>外部链接out:</span>
                    <span>
                <input type="text" name="out_link"  value="http://www.baidu.com"  data-require-if="content_type:1" data-type="url" data-format-msg="链接请以http://开头"  placeholder="http://">
            </span>
                    <div class="sparrow_input_tip_info warning" id="out_link_tip" style="margin-left:410px">请确认您的稿件链接无误。</div>
                </div>
            </div>

            <div class="mb10 hide active" data-sparrow-tab-body="up">
                <div class="mb10">
                    <span class="re_left"><span class="icon_index icon_index_24"></span>外部链接up:</span>
                    <span>
                <input type="text" name="up_link"  value="http://www.baidu.com"  data-require-if="content_type:2" data-type="url" data-format-msg="链接请以http://开头"  placeholder="http://">
            </span>
                    <div class="sparrow_input_tip_info warning" id="up_link_tip" style="margin-left:410px">请确认您的稿件链接无误。</div>
                </div>
            </div>

            <label>
                <input type="checkbox" value="1" data-require="1" data-select-default="1" name="agree">我已经阅读并且同意注册条款
            </label>
            <div class="sparrow_input_tip_info" id="agree_tip">必须同意条款才能注册</div>
            <button id="create_submit_button" class="btn btn-lg btn-primary btn-block" type="submit">提 交</button>
        </div>

        <button id="popbtn"> test pop validate </button>
    </div>

</div>
</body>

<script src="js/jquery.js"></script>
<script src="js/layer/layer.js"></script>
<script src="js/i18n.js"></script>
<script src="js/tool.js"></script>
<script src="js/util.js"></script>
<script src="js/json.js"></script>
<script src="js/window.js"></script>
<script src="js/ajax.js"></script>
<script src="js/pack.js"></script>
<script src="js/smarty.js"></script>
<script src="js/search_form.js"></script>
<script src="js/tab.js"></script>
<script src="js/validate.js"></script>
<script src="js/static.js"></script>
<script>
    window.SCRIPT_FILE = "http://localhost:8081/"
    set_server_arg(1460194057, "v0.2", true, 1);

    /**
     * 加入 textarea 可计算输入字数
     */
    sparrow_form.init_count_input_num( "text_name" );
    // 支持多个选一个或多个
    sparrow_form.init_group_input( "tel,yy,mobile" );
    /**
     * 密码格式检查
     */
    window.password_check = function( str ){
        return /[\d]+/.test( str ) && /[A-Z]+/.test( str ) && /[a-z]+/.test( str );
    }

    /**
     * 点击提交
     */
    function post_form_data(target) {
        var data = sparrow_form.encode( target,0 ); //0 表示所有字段都提交， 2 表示有改变的才提交
        if ( sparrow.empty( data ) )
        {
            return false;
        }
        sparrow_win.open( json.encode( data ).replace( /\:/g, ' : ' ), {title:'表单数据'} );
        return false;
    }

    $( '#create_submit_button' ).click(function () {
        post_form_data("demo_form");
    });

     /*
     * 弹窗检查
     */
    $("#popbtn").click(function () {
        smarty.open( 'jstpl/form', {}, { title: 'Demo add', width:600, id: 'demo_admin_add_win'},function(){
            //这里写回调啊
            sparrow_form.init_count_input_num( 'pop_text_name' );
            $( '#pop_create_submit_button' ).click(function () {
                post_form_data("pop_form");
            });
        } );
    });

</script>
</html>
